.cartitem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-direction: row;
    border-radius: 15px;
    width: 700px;
    height: auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
  
  .cartitem
  {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
  }
  
  .cartitem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .cartitem div {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cartitem .captions
  {
    display: flex;
    gap: 0px 0px;
    align-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 120px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .cartitem .symbols
  {
    display: flex;
    flex: 0.3;
    gap: 80px;
    height: 60px;
    width: 100%;
    margin-right: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .cartitem .productname
  {
    flex:0.7;
    width: 100%;
    height: 60px;
    text-align: center;
    align-items: center;
  }

  .remove
  {
    font-size: medium;
    height: 70%;

  }
  .remove:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .add
  {
    font-size: medium;
    height:70%;
  }
  .add:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  