.store {
    padding: 20px;
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: top;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  
  .store .StoreTitle {
    font-family: cursive;
    font-size: 60px;
    text-align: normal;

  }

  .ItemList {
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
 